<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.vulkan.level" android:required="false" />
    <uses-feature android:glEsVersion="0x00030000" android:required="false" />

    <queries>
        <package android:name="org.freedesktop.monado.openxr_runtime.out_of_process" />
        <package android:name="com.oculus.systemdriver" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <package android:name="com.minevr.bridge" />
        <package android:name="com.qcxr.qcxr" />
        <package android:name="com.roblox.client" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="NEXA Quest Bridge v3"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen">
        <service
            android:name=".NexaRuntimeBridgeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nexa.xr.RUNTIME" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

