<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />

    <queries>
        <package android:name="com.minevr.bridge" />
        <package android:name="com.qcxr.qcxr" />
        <package android:name="com.roblox.client" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="NEXA XR OS 23"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
